<nav class="navbar navbar-light bg-light navbar-expand-sm mb-0 pb-2">
	<div class="container">
		<a routerLink="" class="navbar-brand">Wine-Shop</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navBar">
			<ul class="navbar-nav ms-auto">

				<li class="nav-item">
					<a routerLink="cart" class="nav-link">Cart</a>
				</li>

			</ul>
		</div>

	</div>
</nav>
